/* Root and common styles */
:root {
    --background-color: #f0e8d9; /* Soft beige */
    --link-normal: #e8d0b3; /* Light beige */
    --link-hover: #d1b89b; /* Deeper beige */
    --text-color: #504945; /* Darker tone for text */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90%;
    max-width: 400px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile-section {
    background: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Subtle shadow under profile */
}

.profile-image {
    width: 100%; /* Responsive width */
    aspect-ratio: 1; /* Keeps the image square */
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    margin: 0 auto;
    display: block;
}

.links-section {
    display: flex;
    flex-direction: column;
}

.link-button {
    text-decoration: none;
    color: white;
    background: var(--link-normal);
    padding: 15px;
    text-align: center;
    border: none;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: var(--link-hover);
    cursor: pointer;
}

.title {
    color: var(--text-color);
    font-weight: 400;
}
