/* Root and common styles */
:root {
    --ghostly-white: #f8f8ff;
    --link-color: #0077b5; /* A shade of blue */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--ghostly-white);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card styles */
.card {
    width: 90%;
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Rounded borders for the profile image */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 3px solid #f1f1f1;
}

.links-container {
    background: white;
    display: flex;
    flex-direction: column;
}

.link-button {
    text-decoration: none;
    color: var(--link-color);
    padding: 15px;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    background: white;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}

.title {
    color: #666;
    font-weight: 400;
}

/* First link does not need a top border */
.link-button:first-child {
    border-top: none;
}
