/* Root and common styles */
:root {
    --background-gradient-start: #fafafa; /* Very light grey */
    --background-gradient-end: #f0f0f0; /* Slightly darker light grey */
    --link-normal: #f9f9f9; /* Very pale grey */
    --link-hover: #e0e0e0; /* Light grey */
    --text-color: #707070; /* Desaturated grey for text */
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, var(--background-gradient-start), var(--background-gradient-end));
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.profile-section {
    background: var(--link-normal);
    text-align: center;
    padding: 20px;
    border-radius: 50px; /* Very rounded corners for the profile section */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    position: relative; /* Positioning context for the Pisces symbol */
}

.pisces-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50"><circle cx="25" cy="25" r="20" fill="rgba(255, 255, 255, 0.2)" /><circle cx="75" cy="25" r="20" fill="rgba(255, 255, 255, 0.2)" /></svg>');
    background-size: cover;
    z-index: -1;
}

.profile-image {
    width: 80%;
    aspect-ratio: 1; /* Keeps the image square */
    object-fit: cover;
    border-radius: 50%; /* Circular image */
    display: block;
    margin: 0 auto;
}

.links-section {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between buttons */
    padding: 10px;
}

.link-button {
    text-decoration: none;
    color: var(--text-color);
    background: var
